{% extends 'main/components/layout.html' %}
{% load static %}
{% load web_tags %}
{% block content %}
            {% get_post_by_id post_id as post %}
            <!-- Header section -->
            <section id="header-section" class="cover imagebg height-60 text-center" data-overlay="4">
                <!-- data-gradient-bg="#4876BD,#4876BD,#4c7bb4,#8db539,#acd200" -->
                <div class="background-image-holder background--top">
                    <img alt="background" src="{% static 'main/images/blog-header.jpg' %
                }"></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <h1>Blog</h1>
                            <hr class="short center-block">
                            <p class="lead"> Información relacionada al ámbito de nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <section id="post" class="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                            <article>
                                <div class="article__title text-center">
                                    <h1 class="h2">{{ post.title }}</h1>
                                    <span>{{ post.publish_at|date:'j' }} de {{ post.publish_at|date:'F Y' }} </span>
                                    en
                                    <span>
                                        <a href="#" class="category">Saneamiento Ambiental</a>
                                    </span>
                                </div>
                                <!--end article title-->
                                <div class="article__body">
                                    <img alt="Image" src="{{post.image.url}}" /> {{post.content|safe}}
                                </div>
                                <div class="article__share text-center">
                                    <a class="btn bg--facebook btn--icon" href="#">
                                        <span class="btn__text">
                                            <i class="socicon socicon-facebook"></i>
                                            Compartir en Facebook
                                        </span>
                                    </a>
                                </div>
                            </article>
                            <!--end item-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
            <!-- mas articulos -->
            <section id="more-articles" class="bg--secondary space--sm">
                <div class="container">
                    <div class="row text-block">
                        <div class="col-sm-12">
                            <h3>Más publicaciones que pueden interesarle</h3>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="{% static 'main/images/la-empresa.jpg'%}" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>25 de Diciembre 2017</span>
                                    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit!</h5>
                                    <a href="#">
                                        Leer más
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="{% static 'main/images/la-empresa.jpg'%}" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>25 de Diciembre 2017</span>
                                    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit dolor sit amet!</h5>
                                    <a href="#">
                                        Leer más
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="{% static 'main/images/la-empresa.jpg'%}" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>25 de Diciembre 2017</span>
                                    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit!</h5>
                                    <a href="#">
                                        Leer más
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
                        
            <!-- footer -->
{% endblock %}