{% extends 'main/components/layout.html' %}
{% load static %}

{% load web_tags %}
{% block content %}
            <!-- Header section -->
            <section id="header-section" class="cover imagebg height-60 text-center" data-overlay="4">
                <!-- data-gradient-bg="#4876BD,#4876BD,#4c7bb4,#8db539,#acd200" -->
                <div class="background-image-holder background--top">
                    <img alt="background" src="{% static 'main/images/blog-header.jpg' %}"></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <h1>Blog</h1>
                            <hr class="short center-block">
                            <p class="lead"> Información relacionada al ámbito de nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="post-list" class="space--sm">
                <div class="container">
                    <div class="row">
                        <!-- list-posts -->
                        <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">
                            <div class="masonry masonry-blog-list">
                                <div class="masonry__container" >
                                {% get_last_posts 2 page|default:1 as posts %} 
                                {% for post in posts %} 

                                <article class="masonry__item"
                                    data-masonry-filter="Web Design">
                                    <div class="article__title">
                                        <a href="blog-post.html">
                                            <h2>{{post.title}}</h2>
                                        </a>
                                        <span>{{post.publish_at|date:'j'}} de {{post.publish_at|date:'F'}} </span>
                                        en
                                        <span>
                                            <a href="#" class="category">{{post.category.name}}</a>
                                        </span>
                                    </div>
                                    <!--end article title-->
                                    <div class="article__body">
                                        <a href="blog-post.html">
                                            <img alt="Image" src="{{ post.image.url }}" />
                                        </a>
                                        <p>
                                            {{post.content|safe|truncatewords_html:20}}
                                        </p>
                                        <a href="{% url 'main:show_post' post.id %}">Continuar leyendo &raquo;</a>
                                    </div>
                                    </article>
                                    {% endfor %}
                                </div>
                                <!--end of masonry container-->
                                {% include 'main/components/paginator.html' with objects=posts %}
                            </div>
                            <!--end masonry-->
                        </div>
            
                        <!-- sidebar -->
                        <div class="col-md-4 col-md-push-1 col-xs-12 ">
                            <br class="visible-xs visible-sm">
                            <br class="visible-xs visible-sm">
            
                            <div class="sidebar boxed boxed--border boxed--lg">
                                <div class="sidebar__widget">
                                    <h5>Buscar</h5>
                                    <form>
                                        <input type="text" name="query" placeholder="Ingrese su búsqueda aquí">
                                    </form>
                                </div>
                                <!--end widget-->
                                <div class="sidebar__widget">
                                    <h5>Sobre el Blog</h5>
                                    <p>
                                        El blog de JRA S.A es un espacio donde Ud. puede encontrar información variada sobre temas relacionados a nuestro ámbito
                                        de trabajo.
                                    </p>
                                </div>
                                <!--end widget-->
                                <div class="sidebar__widget">
                                    <h5>Categorias</h5>
                                    <ul>
                                        {% get_categories as categories %} {% for c in categories %}
                                        <li>
                                            <a href="#">{{c.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--end widget-->
                                
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
                        
            <!-- footer -->
         {% endblock %}
        