{% extends 'main/components/layout.html' %}
{% load static %}
{% block content %}
            <!-- Header -->
            <section id="header-section" class="cover imagebg height-60" data-overlay="5">  
                 <!-- data-gradient-bg="#4876BD,#4876BD,#4c7bb4,#8db539,#acd200" -->
                <div class="background-image-holder background--top"> <img alt="background" src="{% static 'main/images/header-jra.jpg'%}"></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <h2>Monitoreo Ocupacional</h2>
                            <hr class="short">
                            <p class="lead"> Asesoría técnica especializada&nbsp;</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5"> <img alt="Image" class="border--round box-shadow-wide" src="{% static 'main/images/servicios/Monitoreo-01.jpg'%}"> </div>
                        <div class="col-sm-6">
                            <div class="switchable__text">
                                <p>
                                     La división de Salud Ocupacional tiene por objetivo: reconocer, identificar y controlar los agentes de los riesgos ocupacionales,
                                    buscando prevenir la ocurrencia de enfermedades profesionales.
                                </p>
                                <p>
                                    <b> Vigilancia Ocupacional:</b> Contamos con un staff de médicos que
                                    cumplen el perfil requerido por ley para realizar labores de vigilancia de la salud de los trabajadores, Consultoría y Auditoria
                                    Nos encargamos de gestionar los exámenes médicos ocupacionales de tus trabajadores, incluyendo la selección de la clínica
                                    proveedora de los exámenes, la gestión de citas de los trabajadores. 
                                </p>
                                <p><b>Lectura de resultados:</b> Programamos un médico por horas para la lectura y entrega de los resultados de los EMO`s.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end introduccion -->

            <!-- CAracteristicas del servicio -->
            <section class="space--sm bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Spell-Check"></i>
                                <div class="feature__body">
                                    <p>
                                        Evaluación de estrés térmico en ambientes de trabajo, Monitoreo de radiaciones ionizantes y no-ionizantes
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Spell-Check"></i>
                                <div class="feature__body">
                                    <p>
                                        Evaluación de ruido ocupacional (caracterización y mapeo de ruido) Sonometría y dosimetría de ruido.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- clear sm -->
                        <div class="clearfix visible-sm w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Engineering"></i>
                                <div class="feature__body">
                                    <p>
                                         Implementación de programa de monitoreo de agentes Ocupacionales.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- clear -->
                        <div class="clearfix visible-md visible-lg w--100"></div>
                        <!-- end clear -->
                        
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                    <p>
                                        Elaboración de Estudios de Línea Base.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- clear sm -->
                        <div class="clearfix visible-sm w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                    <p>
                                        Diseño de PASO Programa Anual de Salud Ocupacional.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                    <p>
                                        Diseño y evaluación de sistemas de iluminación.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- clear -->
                        <div class="clearfix visible-sm visible-md visible-lg w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Engineering"></i>
                                <div class="feature__body">
                                    <p>
                                         Estudio de vibraciones en ambientes de trabajo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- end row -->
                </div>
            </section>

            <!-- Galerry -->
            <section id="galleria" class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <h3 class="text-center">Monitoreo Ocupacional</h3>
                            <br>            
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2 mb--1">
                            <a href="{% static 'main/images/servicios/monitor-02.jpg'%}" data-lightbox="Gallery">
                                <img alt="imagen Monitoreo" src="{% static 'main/images/servicios/monitor-02.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/monitor-03.jpg'%}" data-lightbox="Gallery">
                                <img alt="imagen Monitoreo" src="{% static 'main/images/servicios/monitor-03.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4 col-sm-offset-2 mb--1">
                            <a href="{% static 'main/images/servicios/monitor-04.jpg'%}" data-lightbox="Gallery">
                                <img alt="imagen Monitoreo" src="{% static 'main/images/servicios/monitor-04.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/monitor-05.jpg'%}" data-lightbox="Gallery">
                                <img alt="imagen Monitoreo" src="{% static 'main/images/servicios/monitor-05.jpg'%}">
                            </a>
                        </div>
            
                    </div>
                    <!--end of row-->
            
                </div>
                <!--end of container-->
            </section>
            <!-- end Gallery -->

            <!-- Otros servicios -->
            <section id="otros-servicios" class="space--sm">
                <div class="container">
                    <div class="row text-block">
                        <div class="col-sm-12">
                            <h2>Otros servicios</h2>
                        </div>
                    </div>
                    <!--end of row-->
            
                    <div class="row">
                        <!-- slider -->
                        <div class="slider" data-arrows="true" data-paging="true">
                            <ul class="slides">
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Leafs icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Ingenieria<br>
                                               Ambiental</h5>
                                            <a href="/ingenieria-ambiental">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Truck icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Manejo de <br>
                                                Residuos</h5>
                                            <a href="/manejo-de-residuos">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Engineering icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Seguridad Industrial y Salud Ocupacional</h5>
                                            <a href="/seguridad-industrial-salud-ocupacional">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Line-Chart icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Monitoreo <br> ocupacional
                                            </h5>
                                            <a href="/monitoreo-ocupacional">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Approved-Window icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Nuevo Software<br>
                                                de Seguridad</h5>
                                            <a href="/software-de-seguridad">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Business-Mens icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Servicios de<br>
                                                Capacitación</h5>
                                            <a href="/servicios-de-capacitacion">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon--md icon-Road-3"></i>
                                            <br>
                                            <h5 class="type--uppercase">Señalización y<br>
                                             Mantenimiento Vial</h5>
                                            <a href="/senalizacion-mantenimiento-vial">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Medal-2 icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Sistemas de<br> Gestión</h5>
                                            <a href="/sistemas-de-gestion">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>                                
                            </ul>
                            </div?>
                            <!-- end slider  -->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
            </section>
                        
            <!-- footer -->
{% endblock %}