{% extends 'main/components/layout.html' %}
{% load static %}
{% block content %}
            <!-- Header -->
            <section id="header-section" class="cover imagebg height-60" data-overlay="5">  
                 <!-- data-gradient-bg="#4876BD,#4876BD,#4c7bb4,#8db539,#acd200" -->
                <div class="background-image-holder background--top"> 
                    <img alt="Imagen Headeer" src="{% static 'main/images/header-jra.jpg'%}"> 
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <h2>Seguridad Industrial y Salud Ocupacional</h2>
                            <hr class="short">
                            <p class="lead"> Asesoría técnica especializada&nbsp;</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5"> <img alt="Image" class="border--round box-shadow-wide" src="{% static 'main/images/servicios/introduccion-sso.jpg'%}"> </div>
                        <div class="col-sm-6">
                            <div class="switchable__text">
                                <p class="lead"> Nuestro propósito es administrar los riesgos, de forma tal que permita evitar o minimizar las pérdidas en las operaciones
                                y procesos que conforman su cadena de valor y fomentar el desarrollo de una cultura de seguridad en las empresas</p>
                                <div class="lead">
                                    Implementamos Sistemas de Gestión de Seguridad y Salud Ocupacional según: <br><br>
                                    <ul class="list dots">
                                        <li><b>DS-024-2016 EM</b>, Reglamento de Seguridad y Salud Ocupacional Minero. </li>
                                        <li><b>Ley 29783 y D.S. 005-2012-TR</b> Reglamento de Seguridad
                                        y Salud en el Trabajo.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end introduccion -->

            <!-- CAracteristicas del servicio -->
            <section class="space--sm bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border"> 
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                   <p>
                                     Elaboración de estudios de línea base en Seguridad y Salud Ocupacional
                                   </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Spy"></i>
                                <div class="feature__body">
                                    <p>
                                        Realización de inspecciones y auditorías de seguridad. Realización de IPERC.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- clear sm -->
                        <div class="clearfix visible-sm w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                    <p>
                                         Elaboración de planes y programas de seguridad. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- clear -->
                        <div class="clearfix visible-md visible-lg w--100"></div>
                        <!-- end clear -->
                       
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                    <p>
                                        Elaboración de Planes de Emergencia y Contingencia INDECI.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- clear sm -->
                        <div class="clearfix visible-sm w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Spy"></i>
                                <div class="feature__body">
                                    <p>
                                        Asesoría y capacitación en Investigación de Accidentes.  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Spy"></i>
                                <div class="feature__body">
                                    <p>
                                        Capacitación DS 024 - 2016 EM.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- clear -->
                        <div class="clearfix visible-sm visible-md visible-lg w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                    <p>
                                        Elaboración de procedimientos, formatos, instructivos. Permisos de trabajos críticos (ingreso a espacios confinados, trabajos
                                        de altura, trabajos en caliente, trabajos eléctricos, movimiento de tierra, etc.).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Spy"></i>
                                <div class="feature__body">
                                    <p>
                                        Asesoría en la administración (selección, especificación, compra, uso, mantenimiento) de los equipos de protección personal.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- clear sm -->
                        <div class="clearfix visible-sm w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Engineering"></i>
                                <div class="feature__body">
                                    <p>
                                        Implementación de programas y capacitaciones en manejo defensivo y otras capacitaciones.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- clear -->
                        <div class="clearfix visible-md visible-lg w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-File-Edit"></i>
                                <div class="feature__body">
                                    <p>
                                        Elaboración de reglamentos internos y manuales de seguridad.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- clear sm -->
                        <div class="clearfix visible-sm w--100"></div>
                        <!-- end clear -->
                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-Road-3"></i>
                                <div class="feature__body">
                                    <p>
                                        Señalética de seguridad y distribución en planta de extintores.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon color--primary icon-First-Aid"></i>
                                <div class="feature__body">
                                    <p>
                                        Teoría y práctica de primeros auxilios.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- end row -->
                </div>
            </section>

            <!-- Galeria -->
            <section id="galleria" class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">    
                            <br>
                            <h3 class="text-center">Seguridad Industrial y Salud Ocupacional</h3>
                            <br>
                            <br>
                    
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/primeros-aux-01.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/primeros-aux-01.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/primeros-aux-02.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/primeros-aux-02.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/primeros-aux-03.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/primeros-aux-03.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/seguridad-ocupacional-01.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/seguridad-ocupacional-01.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/seguridad-ocupacional-02.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/seguridad-ocupacional-02.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/seguridad-ocupacional-03.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/seguridad-ocupacional-03.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/seguridad-ocupacional-04.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/seguridad-ocupacional-04.jpg'%}">
                            </a>
                        </div>
                        <div class="col-sm-4 mb--1">
                            <a href="{% static 'main/images/servicios/seguridad-ocupacional-05.jpg'%}" data-lightbox="Gallery">
                                <img alt="Thumb" src="{% static 'main/images/servicios/seguridad-ocupacional-05.jpg'%}">
                            </a>
                        </div>
                    </div>
                            <!--end of row-->
                    
                </div>
                <!--end of container-->
            </section>
            <!-- end galeria -->
            
            <!-- Otros servicios -->
            <section id="otros-servicios" class="bg--secondary space--sm">
                <div class="container">
                    <div class="row text-block">
                        <div class="col-sm-12">
                            <h2>Otros servicios</h2>
                        </div>
                    </div>
                    <!--end of row-->
            
                    <div class="row">
                        <!-- slider -->
                        <div class="slider" data-arrows="true" data-paging="true">
                            <ul class="slides">
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Leafs icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Ingenieria<br>
                                               Ambiental</h5>
                                            <a href="/ingenieria-ambiental">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Truck icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Manejo de <br>
                                                Residuos</h5>
                                            <a href="/manejo-de-residuos">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Engineering icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Seguridad Industrial y Salud Ocupacional</h5>
                                            <a href="/seguridad-industrial-salud-ocupacional">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Line-Chart icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Monitoreo <br> ocupacional
                                            </h5>
                                            <a href="/monitoreo-ocupacional">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Approved-Window icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Nuevo Software<br>
                                                de Seguridad</h5>
                                            <a href="/software-de-seguridad">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Business-Mens icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Servicios de<br>
                                                Capacitación</h5>
                                            <a href="/servicios-de-capacitacion">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon--md icon-Road-3"></i>
                                            <br>
                                            <h5 class="type--uppercase">Señalización y<br>
                                             Mantenimiento Vial</h5>
                                            <a href="/senalizacion-mantenimiento-vial">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-3">
                                    <div class="feature feature-1 text-center">
                                        <div class="feature__body boxed boxed--border">
                                            <i class="icon icon-Medal-2 icon--md"></i>
                                            <br>
                                            <h5 class="type--uppercase">Sistemas de<br> Gestión</h5>
                                            <a href="/sistemas-de-gestion">
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                                </li>                                
                            </ul>
                            </div?>
                            <!-- end slider  -->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
            </section>
                        
            <!-- footer -->
{% endblock %}