{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content=" ::JRA S.A.:: Somos una empresa peruana comprometida a brindar consultoría y sustentabilidad en materia de calidad, seguridad, salud ocupacional y medio ambiente"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRA S.A.</title>
    <link href="{% static 'main/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'main/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'main/css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'main/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'main/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'main/css/flickity.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'main/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'main/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'main/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'main/images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'main/images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'main/images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'main/images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'main/images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'main/images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'main/images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/images/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'main/images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

</head>

<body data-smooth-scroll-offset="60">
    <a id="start" data-scroll-id="start" tabindex="-1" style="outline: none;"></a>

    <!-- Nav bar -->
    <div class="nav-container">
        <div class="bar bar--xs visible-xs" data-scroll-class="100px:pos-fixed">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-2">
                        <a href="/index">
                            <img class="logo logo-dark" alt="logo" src="{% static 'main/images/LOGO-JRA-800.png' %}">
                            <img class="logo logo-light bg" alt="logo" src="{% static 'main/images/LOGO-JRA-800.png' %}">
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute bar--transparent" data-scroll-class="100px:pos-fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-5 hidden-xs">
                        <div class="bar__module">
                            <a href="/index">
                                <img class="logo logo-dark" alt="logo" src="{% static 'main/images/LOGO-JRA-800.png' %}">
                                <img class="logo logo-light bg hidden-sm" alt="logo" src="{% static 'main/images/LOGO-JRA-800.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li>
                                    <a href="/index/#laempresa" class="inner-link" target="_self">
                                        nosotros</a>
                                </li>
                                <li>
                                    <a href="/index/#servicios" class="inner-link" target="_self">
                                        servicios</a>
                                </li>
                                <li>
                                    <a href="/index/#porqueescogernos" class="inner-link" target="_self">
                                        Por qué escogernos </a>
                                </li>
                                <li>
                                    <a href="/index/#clientes" class="inner-link" target="_self">
                                        clientes</a>
                                </li>
                                <li>
                                    <a href="/blog" class="inner-link">
                                        Blog</a>
                                </li>
                                <li>
                                    <a href="/index/#contacto" class="inner-link" target="_self">
                                        contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- End navbar -->

    <!-- Main container -->
    <div class="main-container">