{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>Title PAGE</title>    
</head>

<body data-smoothscroll-offset="77">
    <a id="start"></a>
    You can set your navbar from main/templates/componentes/header.html
    <!-- Nav bar -->
        <nav>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item ...</li>
            </ul>
        </nav>
        <!--end bar-->
    </div>
    <!--end Navbar-->
    
    <!-- Main Container -->
    <div class="main-container">